
/* Footer Css */
.footer-section{
    background-color: #333;
    color: #fff;
    margin-top: 20px;
    height: auto;
    width: 100%;
    margin-bottom: 0%;
}
.footer-data{
    padding: 20px;
    text-align: center;
}